#image-container {
	position:relative;
}

.nvgt{
	position:absolute;
	top: 310px;
	height: 50px;
	width: 30px;
	opacity: 0.6;
}

.nvgt:hover{
	opacity: 0.9;
}

#prev{
	background: #000 url('https://dl.dropboxusercontent.com/u/65639888/image/prev.png') no-repeat center;
	left: 0px;
}

#next{
	background: #000 url('https://dl.dropboxusercontent.com/u/65639888/image/next.png') no-repeat center;
	right: 0px;
}
