/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require foundation_and_overrides
 *= require font-awesome
 *= require_self
 */

@import 'modules/variables';
@import 'partials/footer';
@import 'partials/images';

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

#content {
    padding-bottom: $footer_height; /* ATTENTION! padding-bottom should be equal to the footer height (this keeps the footer from overlapping the content) */
}

.pull-down {
	padding-top:50px;
}

.fa:before {
	margin-right:7px;
}

textarea {
	resize: none;
}