<div class="row">
  <ul class="clearing-thumbs small-block-grid-1 medium-block-grid-2 large-block-grid-4" data-clearing>
    <% @images.each do |image| %>
      <li><%= link_to image_tag(image.asset.medium.url), image.asset.url %></li>
    <% end %>
  </ul>
</div>