<div class="row" id="images">
	
		<%= render partial: 'images_row' %>
	
</div>

<div class="row">
	<div class="small-12 small-centered column">
		<div class="pagination-centered" id="infinite-scrolling">
			<%= will_paginate @images_rows, renderer: FoundationPagination::Rails %>
		</div>
	</div>
</div>