<div class="fixed">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><a href="#">Pictures</a></h1>
      </li>
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <% if params[:action] == "show"  %>
          <li><%= link_to edit_image_path(@image) do%>
            <span class="fa fa-pencil-square-o fa-lg">Update Image</span>
          <% end %></li>
        <% end %>
        <li><%= link_to new_image_path do %>
          <span class="fa fa-cloud-upload fa-lg">Upload</span>
        <% end %></li>
        <!-- <li class="has-dropdown">
          <a href="#">Right Button Dropdown</a>
          <ul class="dropdown">
            <li><a href="#">First link in dropdown</a></li>
          </ul>
        </li> -->
      </ul>

      <!-- Left Nav Section -->
      <ul class="left">
        <li><%= link_to root_path do %>
          <span class="fa fa-image fa-lg">Discover</span>
        <% end %></li>
      </ul>
    </section>
  </nav>
</div>